<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>My Savings</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    {{ style('app') }}
    {{--  using script tag to enable async defer attributes  --}}
    <script src="{{ assetsUrl('app.js') }}" defer ></script>
</head>
<body>
  <section class="grid-container">
        @section('content')
            <h1>Should not see this</h1>
        @endsection
  </section>
</body>
</html>
