<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>

  {{ style('app') }}
  {{--  using script tag to enable async defer attributes  --}}
  <script src="{{ assetsUrl('app.js') }}" async defer ></script>
</head>
<body>
  <section>
        @section('content')
            <h1>Should not see this</h1>
        @endsection
  </section>
</body>
</html>
